<body>
    <header>
        <div id="container">
            <div class="row" id="header">
                <div class="col uno">
                    <img src="assets/img/LogoBlancoN.png" alt="">
                    <h2>Construye el <br>
                        futuro...</h2>
                    <p>Regístrate ahora y comienza a conectar con causas que te apasionan, ya sea publicando oportunidades y gestionando misiones, o participando en actividades que cambian vidas</p>
                </div>
                <div class="col">
                    <div class="container">
                        <div class="row ">
                            <div class="col">
                                <div class="div-section">
                                    <div class="btn-outlinevertical d-flex flex-column px-5 py-4"
                                        style="background-color: #fff; height: 100vh; border-radius: 20px;">
                                        <h4>Empecemos</h4>
                                        <h5>Crea una cuenta</h5>
                                        <div class="btn-outlinetemplate-1-copy mb-3"
                                            style="border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 10px; display: inline-flex; align-items: center;">
                                            <img class="icons-8-google" src="/assets/img/google.png"
                                                style="width: 40px; height: 40px; margin-right: 10px;">
                                            <div class="sign-up-with-google">
                                                Regístrate con Google
                                            </div>
                                        </div>
                                        <div class="btn-outlinetemplate-1-copy mb-3"
                                            style="border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 10px; display: inline-flex; align-items: center;">
                                            <img class="icons-8-facebook" src="/assets/img/face.png"
                                                style="width: 40px; height: 40px; margin-right: 10px;">
                                            <div class="sign-up-with-facebook">
                                                Regístrate  con Facebook
                                            </div>
                                        </div>
                                        <div class="btn-outlinetemplate-1-copy mb-3"
                                            style="border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 10px; display: inline-flex; align-items: center;">
                                            <img class="apple" src="/assets/img/apple.png"
                                                style="width: 40px; height: 40px; margin-right: 10px;">
                                            <div class="sign-up-with-apple">
                                                Regístrate  con Apple
                                            </div>
                                        </div>
                                        <div>
                                            <h3>¿Ya tienes una cuenta? <span>INGRESA ACÁ</span></h3>
                                        </div>
                                    </div>

                                    <p class="already-have-an-account-login">
                                        <span class="already-have-an-account-login-sub-16"></span><span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
</body>
