<div id="thanksBackground"></div>
<div class="container mt-5" id="Completo">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
            <form id="regForm" (ngSubmit)="onSubmit()">
                <h1 id="register">Formulario para Voluntario</h1>
                <div class="all-steps" id="all-steps">
                    <span class="step"><i class="fa fa-user"></i></span>
                    <span class="step"><i class="fa fa-mobile"></i></span>
                    <span class="step"><i class="fa fa-check"></i></span>
                </div>

                <!-- Datos Personales -->
                <div class="tab" [formGroup]="myForm">
                    <h3 id="tittle">Datos Personales</h3>
                    <h6>Digita tu cédula</h6>
                    <p><input placeholder="1016517485" oninput="this.className = ''" formControlName="dni"></p>
                    <h6>Digita tu número celular</h6>
                    <p><input placeholder="3124687956" oninput="this.className = ''" formControlName="cell"></p>
                    <h6>Digita tu dirección</h6>
                    <p><input placeholder="Cra 100 #87-56" oninput="this.className = ''" formControlName="address"></p>
                    <h6>Selecciona tus días disponibles</h6>
                    <ng-multiselect-dropdown [settings]="dropdownSettings3" [data]="days" formControlName="days"
                        [disabled]="disabled" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                    <h6>Selecciona tus habilidades</h6>
                    <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="skills" formControlName="skills"
                        [disabled]="disabled" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                    <h6>Selecciona tus intereses</h6>
                    <ng-multiselect-dropdown [settings]="dropdownSettings2" [data]="intereses"
                        formControlName="intereses" [disabled]="disabled" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>

                <!-- Contacto de Emergencia -->
                <div class="tab" [formGroup]="myForm">
                    <h3 id="tittle">Contacto de Emergencia</h3>
                    <h6>Nombre del contacto</h6>
                    <p><input placeholder="Adriana" oninput="this.className = ''"
                            formControlName="emergencyContact1Name"></p>
                    <h6>Apellido del contacto</h6>
                    <p><input placeholder="Marcela" oninput="this.className = ''"
                            formControlName="emergencyContact1Surname"></p>
                    <h6>Relación con el contacto</h6>
                    <p><input placeholder="Madre" oninput="this.className = ''"
                            formControlName="emergencyContact1Relation"></p>
                    <h6>Número de teléfono del contacto</h6>
                    <p><input placeholder="3112494942" oninput="this.className = ''"
                            formControlName="emergencyContact1Phone"></p>
                    <h6>Correo electrónico del contacto</h6>
                    <p><input placeholder="adriana@example.com" oninput="this.className = ''"
                            formControlName="emergencyContact1Email"></p>
                </div>

                <!-- Confirmación -->
                <div class="tab">
                    <h3 id="tittle">Confirmación</h3>
                    <h6>Cédula:</h6>
                    <p>{{ volunteerData.personalInformation.identificationCard }}</p>
                    <h6>Celular:</h6>
                    <p>{{ volunteerData.personalInformation.phoneNumber }}</p>
                    <h6>Dirección:</h6>
                    <p>{{ volunteerData.personalInformation.address }}</p>
                    <h6>Días disponibles:</h6>
                    <p>
                        <span
                            *ngFor="let day of volunteerData.volunteeringInformation.availabilityDaysList; let i = index">
                            {{ day }}<span
                                *ngIf="i < volunteerData.volunteeringInformation.availabilityDaysList.length - 1">,
                            </span>
                        </span>
                    </p>
                    <h6>Habilidades:</h6>
                    <p>
                        <span *ngFor="let skill of volunteerData.volunteeringInformation.skillsList; let i = index">
                            {{ skill }}<span *ngIf="i < volunteerData.volunteeringInformation.skillsList.length - 1">,
                            </span>
                        </span>
                    </p>
                    <h6>Intereses:</h6>
                    <p>
                        <span
                            *ngFor="let interest of volunteerData.volunteeringInformation.interestsList; let i = index">
                            {{ interest }}<span
                                *ngIf="i < volunteerData.volunteeringInformation.interestsList.length - 1">, </span>
                        </span>
                    </p>
                    <h6>Contacto de Emergencia - Nombre:</h6>
                    <p>{{ volunteerData.emergencyInformation.emergencyContactFirstName }}</p>
                    <h6>Contacto de Emergencia - Apellido:</h6>
                    <p>{{ volunteerData.emergencyInformation.emergencyContactLastName }}</p>
                    <h6>Contacto de Emergencia - Relación:</h6>
                    <p>{{ volunteerData.emergencyInformation.emergencyContactRelationship }}</p>
                    <h6>Contacto de Emergencia - Teléfono:</h6>
                    <p>{{ volunteerData.emergencyInformation.emergencyContactPhone }}</p>
                    <h6>Contacto de Emergencia - Correo:</h6>
                    <p>{{ volunteerData.emergencyInformation.emergencyContactEmail }}</p>
                </div>

                <!-- Mensaje de Agradecimiento -->
                <div class="thanks-message text-center" id="text-message">
                    <h1>¡Gracias por tu interés en unirte a Volunteer App!</h1>
                    <p>Queremos darte una cálida bienvenida a nuestra comunidad de voluntarios. Tu disposición para
                        colaborar y contribuir a causas que importan es realmente valiosa para nosotros. En Volunteer
                        App, estamos comprometidos a conectar a personas apasionadas como tú con oportunidades de
                        impacto positivo en la comunidad. <br>
                        Tu registro ha sido exitoso y estamos emocionados de tenerte a bordo. Pronto recibirás
                        información sobre las próximas oportunidades de voluntariado y cómo puedes empezar a hacer la
                        diferencia. <br>
                        Una vez más, gracias por tu compromiso y por elegir hacer la diferencia. <br>
                        Con aprecio, <br>
                        El Equipo de Volunteer App</p>
                    <button type="button" (click)="onSubmit()">Continuar</button>
                </div>

                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;">
                        <button type="button" id="prevBtn" (click)="nextPrev(-1)"><i
                                class="fa fa-angle-double-left"></i></button>
                        <button type="button" id="nextBtn" (click)="nextPrev(1)"><i
                                class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>