<div class="container">
    <div class="row">
        <div class="col">
            <div class="column1">
                <h2>Perfil</h2>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col">

            <div class="column2">
                <div class="head d-flex">
                    <img [src]="image || 'assets/img/default-user.png'" alt="User Image" id="misionimg">
                    <div class="ml-3 mt-3" style="text-align: left;">
                        <div class="datos">
                            <h6>Nombre</h6>
                            <p>{{ firstName }} {{ lastName }}</p>
                            <h6>Email</h6>
                            <p>{{ email }}</p>
                            <h6>Teléfono</h6>
                            <p>{{ phoneNumber }}</p>

                        </div>

                    </div>
                </div>
                <hr class="mt-3" style="height: 1px; background-color: black; border: none;">
                <ul class="nav mb-4">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active-link': currentContent === 'content1'}"
                            (click)="showContent('content1')">Datos Personales</a>
                    </li>


                </ul>



                <div *ngIf="currentContent === 'content1'" class="content">
                    <form [formGroup]="myForm">
                        <!-- Datos Personales -->
                        <div class="tab ml-3" [formGroup]="myForm">
                            <h6>Digita tu nombre</h6>
                            <p><input id="nor" placeholder="{{ firstName }}" formControlName="firstName"
                                    oninput="this.className = ''"></p>
                            <h6>Digita tu apellido</h6>
                            <p><input id="nor" placeholder="{{ lastName }}" formControlName="lastName"
                                    oninput="this.className = ''"></p>
                            <h6>Digita tu número celular</h6>
                            <p><input id="nor" placeholder="{{ phoneNumber }}" formControlName="cell"
                                    oninput="this.className = ''"></p>

                        </div>
                    </form>
                    <button class="btn-secondary" (click)="onSubmit()">Actualizar datos</button>
                </div>


            </div>
        </div>
    </div>
</div>