<div class="container">
    <div class="row">
        <div class="col">
            <div class="column1 d-flex">
                <button class="back mr-2" routerLink="/verCoordinador">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <h2 class="mt-1">Perfil Coordinador de actividad</h2>
            </div>
        </div>
    </div>
    <div class="row">


        <div class="col">

            <div class="column2">
                <div class="head d-flex">
                    <img [src]="image" id="misionimg" alt="Imagen de Coordinador">
                    <div class="ml-3 mt-3" style="text-align: left;">
                        <div class="datos">
                            <h6>Nombre</h6>
                            <p>{{ firstName }} {{ lastName }}</p>
                            <h6>Email</h6>
                            <p>{{ email }}</p>
                            <h6>Teléfono</h6>
                            <p>{{ phoneNumber }}</p>
                        </div>

                    </div>
                </div>
                <hr class="mt-3" style="height: 1px; background-color: black; border: none;">
                <ul class="nav mb-4">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active-link': currentContent === 'content1'}"
                            (click)="showContent('content1')">
                            <strong><i class="bi bi-calendar"></i></strong>
                            <span class="nav-text">Actividades</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active-link': currentContent === 'content2'}"
                            (click)="showContent('content2')">
                            <strong><i class="bi bi-archive"></i></strong>
                            <span class="nav-text">Historial</span>
                        </a>
                    </li>


                </ul>

                <div *ngIf="currentContent === 'content1'" class="content mt-5">
                    <div class="row">
                        <div class="col tittle" id="recentCustomers">

                            <div class="table-responsive">
                                <table class="table table-sm" id="datatableexample">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Actividad</th>
                                            <th>Ciudad</th>
                                            <th>Dirección</th>
                                            <th># voluntarios</th>
                                            <th>Status</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let actividad of activities; let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ actividad.title }}</td>
                                            <td>{{ actividad.city }}</td>
                                            <td>{{ actividad.address }}</td>
                                            <td>{{ actividad.numberOfVolunteersRequired }}</td>
                                            <td><span [ngClass]="getStatusClass(actividad.activityStatus)">{{
                                                    actividad.activityStatus
                                                    }}</span></td>
                                            <td style="text-align: center;">
                                                <a (click)="verDetallesA(actividad)"
                                                    style="border: none; background: none;">
                                                    <i class="bi bi-eye" style="font-size: 1.3rem; color: #000000;"
                                                        onmouseover="this.style.color='#186dde';"
                                                        onmouseout="this.style.color='#80777c';"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
                <div *ngIf="currentContent === 'content2'" class="content mt-5">
                    <div class="" id="lindo">
                        <div class="container">

                            <!-- Mostrar mensaje si no hay reseñas -->
                            <div *ngIf="timelineData.length === 0" class="text-center mt-4">
                                <p>Este usuario aún no cuenta con ninguna reseña.</p>
                            </div>

                            <!-- Paso 1, Paso 2, Paso 3 y alternancia entre Paso 2 y Paso 3 -->
                            <ng-container *ngFor="let item of timelineData; let i = index">

                                <!-- Paso 1 (Primer historial) -->
                                <div *ngIf="i === 0" class="row align-items-center how-it-works d-flex">
                                    <div
                                        class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                                        <div class="circle font-weight-bold">{{ i + 1 }}</div>
                                    </div>
                                    <div class="col-6">
                                        <h5>{{ item.title }}</h5>
                                        <span *ngFor="let star of getStars(item.rating)"
                                            [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                                        <p>{{ item.description }}</p>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{
                                                item.creationDate }}</small></p>
                                    </div>
                                </div>

                                <!-- Línea después del Paso 1 -->
                                <div class="row timeline" *ngIf="timelineData.length > 1">
                                    <div class="col-2">
                                        <div class="corner top-right"></div>
                                    </div>
                                    <div class="col-8">
                                        <hr />
                                    </div>
                                    <div class="col-2">
                                        <div class="corner left-bottom"></div>
                                    </div>
                                </div>

                                <!-- Paso 2 (Segundo historial) -->
                                <div *ngIf="i === 1"
                                    class="row align-items-center justify-content-end how-it-works d-flex">
                                    <div class="col-6 text-right">
                                        <h5>{{ item.title }}</h5>
                                        <span *ngFor="let star of getStars(item.rating)"
                                            [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                                        <p>{{ item.description }}</p>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{
                                                item.creationDate }}</small></p>
                                    </div>
                                    <div
                                        class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                                        <div class="circle font-weight-bold">{{ i + 1 }}</div>
                                    </div>
                                </div>

                                <!-- Línea después del Paso 2 -->
                                <div class="row timeline" *ngIf="timelineData.length > 2">
                                    <div class="col-2">
                                        <div class="corner right-bottom"></div>
                                    </div>
                                    <div class="col-8">
                                        <hr />
                                    </div>
                                    <div class="col-2">
                                        <div class="corner top-left"></div>
                                    </div>
                                </div>

                                <!-- Paso 3 (Tercer historial) -->
                                <div *ngIf="i === 2" class="row align-items-center how-it-works d-flex">
                                    <div
                                        class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                                        <div class="circle font-weight-bold">{{ i + 1 }}</div>
                                    </div>
                                    <div class="col-6">
                                        <h5>{{ item.title }}</h5>
                                        <span *ngFor="let star of getStars(item.rating)"
                                            [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                                        <p>{{ item.description }}</p>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{
                                                item.creationDate }}</small></p>
                                    </div>
                                </div>

                                <!-- Línea después del Paso 3 -->
                                <div class="row timeline" *ngIf="timelineData.length > 3">
                                    <div class="col-2">
                                        <div class="corner top-right"></div>
                                    </div>
                                    <div class="col-8">
                                        <hr />
                                    </div>
                                    <div class="col-2">
                                        <div class="corner left-bottom"></div>
                                    </div>
                                </div>

                                <!-- Alternancia entre Paso 2 y Paso 3 para los siguientes elementos -->
                                <ng-container *ngIf="i > 2">
                                    <div *ngIf="(i % 2) === 1"
                                        class="row align-items-center justify-content-end how-it-works d-flex">
                                        <div class="col-6 text-right">
                                            <h5>{{ item.title }}</h5>
                                            <span *ngFor="let star of getStars(item.rating)"
                                                [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                                            <p>{{ item.description }}</p>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{
                                                    item.creationDate }}</small></p>
                                        </div>
                                        <div
                                            class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                                            <div class="circle font-weight-bold">{{ i + 1 }}</div>
                                        </div>
                                    </div>

                                    <div *ngIf="(i % 2) === 0" class="row align-items-center how-it-works d-flex">
                                        <div
                                            class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                                            <div class="circle font-weight-bold">{{ i + 1 }}</div>
                                        </div>
                                        <div class="col-6">
                                            <h5>{{ item.title }}</h5>
                                            <span *ngFor="let star of getStars(item.rating)"
                                                [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                                            <p>{{ item.description }}</p>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{
                                                    item.creationDate }}</small></p>
                                        </div>
                                    </div>

                                    <!-- Línea entre los pasos alternos -->
                                    <div class="row timeline" *ngIf="i < timelineData.length - 1">
                                        <div class="col-2">
                                            <div [ngClass]="(i % 2) === 1 ? 'corner right-bottom' : 'corner top-right'">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <hr />
                                        </div>
                                        <div class="col-2">
                                            <div [ngClass]="(i % 2) === 1 ? 'corner top-left' : 'corner left-bottom'">
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>