.tittle{
    background-color: white; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  margin-bottom:20px;
  }

  h2 {
    font-weight: 600;
    font-size: 20px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
  }
  h1{
    color: #ED4B4B;
  }

/*TABLE*/
#recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
  }
  #recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #recentCustomers table tr td {
    padding: 12px 10px;
  }
  #recentCustomers table tr td h4, #recentCustomers table tr td {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
  }
  #recentCustomers table tr th {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2rem;
  }
  #datatableexample table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
  }
  #datatableexample table tr:hover {
    background: var(--blue);
    color: var(--white);
  }
  #datatableexample table tr:hover td h4 span {
    color: var(--white);
  }

  .status-activo {
    background-color: rgba(229,250,251,255);
    color: #03c9d7;
    padding: 4px 8px;
    border-radius: 12px;
    display: inline-block;
  }
  
  .status-pendiente {
    background-color: rgba(255,248,236,255);
    color: #fec96c;
    padding: 4px 8px;
    border-radius: 12px;
    display: inline-block;
  }
  
  .status-rechazado {
    background-color: rgba(255,229,220,255);
    color: #F36060;
    padding: 4px 8px;
    border-radius: 12px;
    display: inline-block;
  }
  
  /*AJAAA*/
 


  