<div class="container ">
  <div class="row">
    <div class="col ">
      <div class="tittle">
        <h2>Gestión Usuarios</h2>
      </div>
    </div>
  </div>
  <div class="row mb-4" id="header">
    <div class="col">
      <div class="cards">

        <div class="row align-items-center">
          <div class="col-3 p-2 ml-3" id="img2">
            <img src="assets/img/management.png" style="width: 200px; height:auto" alt="">
          </div>
          <div class="col ml-4 mr-4" id="texto">
            <h2>Autoriza a los usuarios</h2>
            <p>Verifica que los datos proporcionados por los usuarios sean reales y coincidan antes de aprobar su
              preregistro.
              Este paso es esencial para garantizar la autenticidad de la información y la seguridad de la plataforma.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="table-container">
    <table class="table  table-sm  hover" id="datatableGestionUser">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Rol</th>
          <th>Email</th>
          <th>Cedula</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName + ' ' + user.lastName }}</td>
          <td>{{ user.rol }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.Cedula }}</td>
          <td>
            <button style="border: none; background: none;" data-bs-toggle="modal" data-bs-target="#VolunteerModal"
              (click)="openModal(user)" *ngIf="user.rol === 'VOLUNTARIO'">
              <i class="fa fa-search" style="font-size: 1rem; color: #80777c;" onmouseover="this.style.color='#186dde';"
                onmouseout="this.style.color='#80777c';"></i>
            </button>
            <button style="border: none; background: none;" data-bs-toggle="modal" data-bs-target="#organizationModal"
              (click)="openModal(user)" *ngIf="user.rol === 'ORGANIZACION'">
              <i class="fa fa-search" style="font-size: 1rem; color: #80777c;" onmouseover="this.style.color='#186dde';"
                onmouseout="this.style.color='#80777c';"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal Voluntario -->
<div class="modal fade" id="VolunteerModal" tabindex="-1" aria-labelledby="VolunteerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="VolunteerModalLabel">Voluntario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Nombre: {{ selectedUser?.firstName }}</h6>
        <h6>Apellido: {{ selectedUser?.lastName }}</h6>
        <h6>Cédula: {{ selectedUser?.personalInformation?.identificationCard }}</h6>
        <h6>Correo: {{ selectedUser?.email }}</h6>
        <h6>Celular: {{ selectedUser?.personalInformation?.phoneNumber }}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="aceptar" (click)="acceptUser()" data-bs-dismiss="modal">Aceptar</button>
        <button type="button" class="rechazar" (click)="rejectUser()" data-bs-dismiss="modal">Rechazar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Organización-->
<div class="modal fade" id="organizationModal" tabindex="-1" aria-labelledby="organizationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="organizationModalLabel">Organización</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Nombre: {{ selectedUser?.firstName }}</h6>
        <h6>Apellido: {{ selectedUser?.lastName }}</h6>
        <h6>Cédula: {{ selectedUser?.responsiblePersonId }}</h6>
        <h6>Correo: {{ selectedUser?.email }}</h6>
        <h6>Celular: {{ selectedUser?.responsiblePersonPhoneNumber }}</h6>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Datos de la organización
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <h6>Nombre: {{ selectedUser?.organizationName }}</h6>
                <h6>NIT: {{ selectedUser?.nit }}</h6>
                <h6>Tipo de Organización: {{ selectedUser?.organizationTypeEnum }}</h6>
                <h6>Sector: {{ selectedUser?.sectorTypeEnum }}</h6>
                <h6>Tipo de Voluntariado: {{ selectedUser?.volunteeringTypeEnum }}</h6>
                <h6>Dirección: {{ selectedUser?.address }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="aceptar" (click)="acceptUser()" data-bs-dismiss="modal">Aceptar</button>
        <button type="button" class="rechazar" (click)="rejectUser()" data-bs-dismiss="modal">Rechazar</button>
      </div>
    </div>
  </div>
</div>