
body {
    margin: 0;
    overflow-x: hidden;
  }
h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: regular;
    font-size: 40px;
  }
  
  h3 span {
    font-weight: bold;
    color: #ED4B4B;
  }
  h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }
  h5 {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
  h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 15px;
  }
  
  p {
    font-family: "Quicksand", sans-serif;
    font-weight: regular;
    font-size: 20px;
    padding-top: 2%;
  }
#Forms{
    padding:300px 20px 320px 150px;
}
  #text2 {
    background-image: url("/assets/img/authFondo.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: right top; 
  }
 
  button {
    margin-left: 2%;
    margin-top: 4%;
    display: block; 
    width: fit-content; 
  }


  @media (max-width: 680px) {
    #about-us img {
      width: 400px;
      height: 450px;
    }
  }
  @media (max-width: 787px) {
    #about-us h4 {
      padding-top: 10px;
    }
  }


.btn-secondary {
  font-family: "Quicksand", sans-serif;
  background-color: transparent;
  border: 2px solid #FFD700; 
  color: #1E1E1E; 
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  transition: background-color 0.1s, color 0.3s, border-color 0.3s;
}

.btn-secondary:hover {
  background-color: #FFD700; 
  color: #1E1E1E; 
}

.btn-secondary:focus {
  outline: none;
}

