<div class="container">
    <div class="row">
        <div class="col">
            <div class="column1">
                <h2>Actividad detalles</h2>
            </div>
        </div>
    </div>
    <div class="card custom-card">
        <img [src]="imagen" class="card-img-top custom-img" alt="Imagen de la actividad">        <div class="card-body">
            <div class="d-flex align-items-center mb-3">
                <img src="assets/img/fundacion.jpeg" class="rounded-circle profile-img" alt="Profile">
                <div class="ml-3">
                    <h5 class="card-title mb-0">Nombre de la actividad ujuuu</h5>
                    <div class="text-muted small">
                        <i class="bi bi-eye"></i> 5/10 inscritos &nbsp;&nbsp; <i class="bi bi-calendar"></i> 25 de
                        Septiembre, 2024
                    </div>
                </div>
            </div>
            <hr class="mt-3" style="height: 1px; background-color: rgb(136, 135, 135); border: none;">
            <h4>Datos generales</h4>
            <p class="card-text">
                <strong>Horas inicio:</strong> 5:00 am<br>
                <strong>Horas requeridad:</strong> 5<br>
                <strong>Ciudad:</strong> Bogotá
            </p>
            <hr class="mt-3" style="height: 1px; background-color: rgb(136, 135, 135); border: none;">
            <h4>Descripción</h4>
            <p class="card-text">
                Descripción: Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido
                del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una
                distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido
                aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de
                autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una
                búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran
                en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por
                accidente, otras veces a propósito (por ejemplo insertándole humor y cosas por el estilo).
            </p>
            
            <hr class="mt-3" style="height: 1px; background-color: rgb(136, 135, 135); border: none;">
            <h4>Habilidades requeridas</h4>
            <ul>
                <li>Figure out what it is</li>
                <li>The links it currently</li>
                <li>It allows you to start your bid</li>
            </ul>
            <hr class="mt-3" style="height: 1px; background-color: rgb(136, 135, 135); border: none;">

            <h4>Requisitos</h4>
            <ol>
                <li>Figure out what it is</li>
                <li>The links it currently</li>
                <li>It allows you to start your bid</li>
            </ol>
            <hr class="mt-3" style="height: 1px; background-color: rgb(136, 135, 135); border: none;">
            <a href="#" (click)="unirse($event)" [ngClass]="'btn ' + btnClass">Unirse</a>
        </div>
    </div>

    
</div>