<div>
    <form [formGroup]="myForm" style="text-align: left;">
        <!-- Paso 1: Datos de la Actividad -->
        <div *ngIf="currentStep === 1" style="text-align: left;">
            <h5>Datos de la Actividad</h5>

            <!-- Título -->
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" id="title" class="form-control custom-input" formControlName="title"
                    placeholder="Escribe el título de la misión" required>
            </div>

            <!-- Descripción -->
            <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea id="description" class="form-control custom-input" formControlName="description" rows="3"
                    placeholder="Describe la misión" required></textarea>
            </div>

            <!-- Coordinador de la Actividad -->
            <div class="mb-3">
                <label for="activityCoordinator" class="form-label">Coordinador de la Actividad</label>
                <select id="activityCoordinator" class="form-select custom-select" formControlName="activityCoordinator"
                    required>
                    <option *ngFor="let coordinator of coordinators" [value]="coordinator.id"
                        [selected]="coordinator.id === myForm.value.activityCoordinator">
                        {{ coordinator.name }}
                    </option>
                </select>
            </div>

            <!-- Fecha de inicio -->
            <div class="mb-3">
                <label for="startDate" class="form-label">Fecha de Inicio</label>
                <input type="date" id="startDate" class="form-control custom-input" formControlName="startDate"
                    required>
            </div>

            <!-- Hora de inicio -->
            <div class="mb-3">
                <label for="startTime" class="form-label">Hora de Inicio</label>
                <input type="time" id="startTime" class="form-control custom-input" formControlName="startTime"
                    required>
            </div>

            <!-- Hora de fin -->
            <div class="mb-3">
                <label for="endTime" class="form-label">Hora de Fin</label>
                <input type="time" id="endTime" class="form-control custom-input" formControlName="endTime" required>
            </div>

            <!-- Ciudad -->
            <div class="mb-3">
                <label for="city" class="form-label">Ciudad</label>
                <input type="text" id="city" class="form-control custom-input" formControlName="city"
                    placeholder="Ingresa la ciudad" required>
            </div>

            <!-- Localidad -->
            <div class="mb-3">
                <label for="locality" class="form-label">Localidad</label>
                <input type="text" id="locality" class="form-control custom-input" formControlName="locality"
                    placeholder="Ingresa la localidad" required>
            </div>

            <!-- Dirección -->
            <div class="mb-3">
                <label for="address" class="form-label">Dirección</label>
                <input type="text" id="address" class="form-control custom-input" formControlName="address"
                    placeholder="Ingresa la dirección" required>
            </div>

            <!-- Número de Voluntarios Requeridos -->
            <div class="mb-3">
                <label for="numberOfVolunteersRequired" class="form-label">Número de Voluntarios Requeridos</label>
                <input type="number" id="numberOfVolunteersRequired" class="form-control custom-input"
                    formControlName="numberOfVolunteersRequired" required>
            </div>

            <!-- Horas Requeridas -->
            <div class="mb-3">
                <label for="requiredHours" class="form-label">Horas Requeridas</label>
                <input type="number" id="requiredHours" class="form-control custom-input"
                    formControlName="requiredHours" required>
            </div>

            <!-- Número de Beneficiarios -->
            <div class="mb-3">
                <label for="numberOfBeneficiaries" class="form-label">Número de Beneficiarios</label>
                <input type="number" id="numberOfBeneficiaries" class="form-control custom-input"
                    formControlName="numberOfBeneficiaries" required>
            </div>

            <!-- Observaciones -->
            <div class="mb-3">
                <label for="observations" class="form-label">Observaciones</label>
                <textarea id="observations" class="form-control custom-input" formControlName="observations"
                    rows="2"></textarea>
            </div>

            <!-- Visibilidad -->
            <div class="form-check mb-3 ml-2">
                <input class="form-check-input" type="checkbox" id="visibility" formControlName="visibility">
                <label class="form-check-label" for="visibility">Visible al público</label>
            </div>

            <div style="text-align: left;">
                <button type="button" class="btn btn-primary mt-3 mr-2" (click)="nextStep()">Siguiente</button>
                <button type="button" class="btn btn-success mt-3" (click)="onCancel()">Cancelar</button>
            </div>

        </div>

        <!-- Paso 2: Datos del Líder de la Actividad -->
        <div *ngIf="currentStep === 2" style="text-align: left;">
            <h5>Datos del Líder de la Actividad</h5>

            <div class="mb-3">
                <label for="leaderName" class="form-label">Nombre del Líder de la Comunidad</label>
                <input type="text" id="leaderName" class="form-control custom-input" formControlName="leaderName"
                    placeholder="Nombre del líder" required>
            </div>

            <div class="mb-3">
                <label for="leaderEmail" class="form-label">Email del Líder de la Comunidad</label>
                <input type="email" id="leaderEmail" class="form-control custom-input" formControlName="leaderEmail"
                    placeholder="Email del líder" required>
            </div>

            <div class="mb-3">
                <label for="leaderPhone" class="form-label">Teléfono del Líder de la Comunidad</label>
                <input type="tel" id="leaderPhone" class="form-control custom-input" formControlName="leaderPhone"
                    placeholder="Teléfono del líder" required>
            </div>

            <div style="text-align: left;">
                <button type="button" class="btn btn-primary mt-3 mr-2" (click)="previousStep()">Anterior</button>
                <button type="button" class="btn btn-success mt-3" (click)="updateActivity()">Actualizar</button>
            </div>

        </div>

    </form>
</div>