<div class="container ">
    <div class="row">
        <div class="col d-flex justify-content-between align-items-center  " id="tittle">
            <h2>Misiones</h2>
            <button data-bs-toggle="modal" data-bs-target="#VolunteerModal" id="Crear">
                <i class="bi bi-plus-circle mr-2"></i>Crear Misión
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col" id="tittle1">

            <div class="table-container">

                <table class="table  table-sm  hover" id="datatableMisiones">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre Misión</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            <th>Departamento</th>
                            <th>Visibilidad</th>
                            <th>Status</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mision of data">
                            <td>{{ mision.id }}</td>
                            <td>{{ mision.title }}</td>
                            <td>{{ mision.startDate }}</td>
                            <td>{{ mision.endDate }}</td>
                            <td>{{ mision.department }}</td>
                            <td>{{ mision.visibility }}</td>
                            <td>
                                <span [ngClass]="getStatusClass(mision.missionStatus ?? '')">{{ mision.missionStatus ??
                                    'N/A' }}</span>
                            </td>
                            <td>
                                <a [routerLink]="['/detallesM']" [queryParams]="{ id: mision.id }"
                                    style="border: none; background: none;">
                                    <i class="bi bi-eye" style="font-size: 1.3rem; color: #000000;"
                                        onmouseover="this.style.color='#186dde';"
                                        onmouseout="this.style.color='#000000';"></i>
                                </a>
                                <button style="border: none; background: none;">
                                    <i class="bi bi-trash3" style="font-size: 1.1rem; color: #000000;"
                                        onmouseover="this.style.color='#186dde';"
                                        onmouseout="this.style.color='#000000';"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Toast de notificación para éxito -->
<div id="missionCreatedToast" class="toast-notification position-fixed bottom-0 end-0 p-3" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            La misión fue creada exitosamente.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>



<!-- Modal para Crear una nueva Misión -->
<div class="modal fade" id="VolunteerModal" tabindex="-1" aria-labelledby="VolunteerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <<<<<<< HEAD <h1 class="modal-title fs-5" id="VolunteerModalLabel">Crea tu misión</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    =======
                    <div>
                        <h4>Empecemos</h4>
                        <h5>Crea un nuevo coordinador</h5>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    >>>>>>> 6208e2abb0055ec1182ce81191daae26f2abb4f5
            </div>
            <div class="modal-body">
                <form (ngSubmit)="createMission()">
                    <!-- Tipo de Misión -->
                    <div class="mb-3">
                        <label for="missionType">Tipo de Misión</label>
                        <select id="missionType" [(ngModel)]="newMission.missionType" name="missionType"
                            class="form-select" required>
                            <option value="">Selecciona el tipo de misión</option>
                            <option *ngFor="let type of missionTypes" [value]="type">{{ type }}</option>
                        </select>
                    </div>

                    <!-- Título -->
                    <div class="mb-3">
                        <label for="title">Título</label>
                        <input type="text" id="title" [(ngModel)]="newMission.title" name="title" class="form-control"
                            placeholder="Escribe el título de la misión" required>
                    </div>

                    <!-- Descripción -->
                    <div class="mb-3">
                        <label for="description">Descripción</label>
                        <textarea id="description" [(ngModel)]="newMission.description" name="description"
                            class="form-control" rows="3" placeholder="Describe la misión" required></textarea>
                    </div>

                    <!-- Fechas (Inicio y Fin) -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="startDate">Fecha de Inicio</label>
                            <input type="date" id="startDate" [(ngModel)]="newMission.startDate" name="startDate"
                                class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="endDate">Fecha de Fin</label>
                            <input type="date" id="endDate" [(ngModel)]="newMission.endDate" name="endDate"
                                class="form-control" required>
                        </div>
                    </div>

                    <!-- Departamento -->
                    <div class="mb-3">
                        <label for="department">Departamento</label>
                        <input type="text" id="department" [(ngModel)]="newMission.department" name="department"
                            class="form-control" placeholder="Ingresa el departamento" required>
                    </div>

                    <!-- Requisitos para Voluntarios -->
                    <div class="mb-3">
                        <label for="volunteerRequirements">Requisitos para Voluntarios</label>
                        <select id="volunteerRequirements" [(ngModel)]="newMission.volunteerMissionRequirementsEnumList"
                            name="volunteerRequirements" class="form-select" multiple>
                            <option *ngFor="let requirement of volunteerRequirements" [value]="requirement">{{
                                requirement }}</option>
                        </select>
                    </div>

                    <!-- Habilidades Requeridas -->
                    <div class="mb-3">
                        <label for="requiredSkills">Habilidades Requeridas</label>
                        <select id="requiredSkills" [(ngModel)]="newMission.requiredSkillsList" name="requiredSkills"
                            class="form-select" multiple>
                            <option *ngFor="let skill of requiredSkills" [value]="skill">{{ skill }}</option>
                        </select>
                    </div>

                    <!-- Visibilidad -->
                    <div class="form-check mb-3 ml-2">
                        <input class="form-check-input" type="checkbox" id="visibility"
                            [(ngModel)]="newMission.visibility" name="visibility" checked>
                        <label class="form-check-label" for="visibility">Visible al público</label>
                    </div>

                    <!-- Botón de Envío -->
                    <button type="submit" class="btn custom-button"
                        style="border: 2px solid #ffcc00; border-radius: 50px; background-color: transparent; color: #000; padding: 5px 20px;">
                        Crear Misión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>