<div class="container">

  <div class="row">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center column1">
          <div class="d-flex">
            <button class="back mr-2" (click)="volver()">
              <i class="fas fa-chevron-left"></i>
            </button>
            <h2>Perfil Voluntario</h2>
          </div>

          <div *ngIf="volunteerData.volunteeringInformation.status === 'Pendiente'">
            <button class="Aceptar">Aceptar</button>
            <button class="Rechazar" (click)="confirmReject()">Rechazar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">


      <div class="col">

        <div class="column2">
          <div class="head d-flex">
            <img src="assets/img/ejemplo.jpg" id="misionimg">
            <div class="datos ml-3 mt-3">
              <h6>Nombre</h6>
              <p>{{ firstName }} {{ lastName }}</p>
              <h6>Email</h6>
              <p>{{ email }}</p>
              <h6>Teléfono</h6>
              <p>{{ volunteerData.personalInformation.phoneNumber }}</p>
            </div>
          </div>


          <hr class="mt-3" style="height: 1px; background-color: black; border: none;">
          <ul class="nav mb-4">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active-link': currentContent === 'content1'}"
                (click)="showContent('content1')">
                <strong><i class="bi bi-archive"></i></strong>
                <span class="nav-text">Historial</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active-link': currentContent === 'content2'}"
                (click)="showContent('content2')">
                <strong><i class="bi bi-person-vcard"></i></strong>
                <span class="nav-text">Datos Personales</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active-link': currentContent === 'content3'}"
                (click)="showContent('content3')">
                <strong><i class="bi bi-hospital"></i></strong>
                <span class="nav-text">Datos de emergencia</span>
              </a>
            </li>
          </ul>


          <div *ngIf="currentContent === 'content1'" class="content mt-5">
            <div class="" id="lindo">
              <div class="container">

                <!-- Paso 1 (Fijo) -->
                <div class="row align-items-center how-it-works d-flex">
                  <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">1</div>
                  </div>
                  <div class="col-6">
                    <h5>Título de actividad</h5>
                    <span *ngFor="let star of getStars(3)"
                      [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                    <p>Reseña que se dio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida
                      aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 13/01/2018, 13:05</small></p>
                  </div>
                </div>

                <!-- Línea entre paso 1 y 2 -->
                <div class="row timeline">
                  <div class="col-2">
                    <div class="corner top-right"></div>
                  </div>
                  <div class="col-8">
                    <hr />
                  </div>
                  <div class="col-2">
                    <div class="corner left-bottom"></div>
                  </div>
                </div>

                <!-- Paso 2 (Fijo) -->
                <div class="row align-items-center justify-content-end how-it-works d-flex">
                  <div class="col-6 text-right">
                    <h5>Fully Responsive</h5>
                    <span *ngFor="let star of getStars(3)"
                      [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi
                      orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 13/01/2018, 13:05</small></p>
                  </div>
                  <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">2</div>
                  </div>
                </div>

                <!-- Línea entre paso 2 y 3 -->
                <div class="row timeline">
                  <div class="col-2">
                    <div class="corner right-bottom"></div>
                  </div>
                  <div class="col-8">
                    <hr />
                  </div>
                  <div class="col-2">
                    <div class="corner top-left"></div>
                  </div>
                </div>

                <!-- Paso 3 (Fijo) -->
                <div class="row align-items-center how-it-works d-flex">
                  <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                    <div class="circle font-weight-bold">3</div>
                  </div>
                  <div class="col-6">
                    <h5>Fully Responsive</h5>
                    <span *ngFor="let star of getStars(3)"
                      [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi
                      orci urna, iaculis in ligula et, posuere interdum lectus.</p>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 13/01/2018, 13:05</small></p>
                  </div>
                </div>

                <!-- Línea después del paso 3 -->
                <div class="row timeline" *ngIf="timelineData.length > 3">
                  <div class="col-2">
                    <div class="corner top-right"></div>
                  </div>
                  <div class="col-8">
                    <hr />
                  </div>
                  <div class="col-2">
                    <div class="corner left-bottom"></div>
                  </div>
                </div>

                <!-- Nuevos pasos dinámicos a partir del paso 4 -->
                <ng-container *ngFor="let item of timelineData.slice(3); let i = index">

                  <!-- Sección Par (Patrón igual que paso 2) -->
                  <div *ngIf="i % 2 === 0" class="row align-items-center justify-content-end how-it-works d-flex">
                    <div class="col-6 text-right">
                      <h5>{{ item.title }}</h5>
                      <span *ngFor="let star of getStars(item.stars)"
                        [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                      <p>{{ item.review }}</p>
                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ item.date }}</small></p>
                    </div>
                    <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                      <div class="circle font-weight-bold">{{ i + 4 }}</div>
                    </div>
                  </div>

                  <!-- Línea entre pasos pares e impares -->
                  <div class="row timeline" *ngIf="i < timelineData.slice(3).length - 1">
                    <div class="col-2">
                      <div class="corner right-bottom"></div>
                    </div>
                    <div class="col-8">
                      <hr />
                    </div>
                    <div class="col-2">
                      <div class="corner top-left"></div>
                    </div>
                  </div>

                  <!-- Sección Impar (Patrón igual que paso 1) -->
                  <div *ngIf="i % 2 !== 0" class="row align-items-center how-it-works d-flex">
                    <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                      <div class="circle font-weight-bold">{{ i + 4 }}</div>
                    </div>
                    <div class="col-6">
                      <h5>{{ item.title }}</h5>
                      <span *ngFor="let star of getStars(item.stars)"
                        [ngClass]="star === 'gold' ? 'star gold' : 'star gray'">★</span>
                      <p>{{ item.review}}</p>
                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ item.date }}</small></p>
                    </div>
                  </div>

                  <!-- Línea entre pasos impares y pares -->
                  <div class="row timeline" *ngIf="i < timelineData.slice(3).length - 1">
                    <div class="col-2">
                      <div class="corner top-right"></div>
                    </div>
                    <div class="col-8">
                      <hr />
                    </div>
                    <div class="col-2">
                      <div class="corner left-bottom"></div>
                    </div>
                  </div>

                </ng-container>

              </div>
            </div>
          </div>


          <div *ngIf="currentContent === 'content2'" class="content">
            <!-- Datos Personales -->
            <div class="tab ml-3">

              <!-- Celular -->
              <div class="data-section">
                <h6> Número celular:</h6>
                <p>{{ volunteerData.personalInformation.phoneNumber || 'No especificado' }}</p>
              </div>

              <!-- Dirección -->
              <div class="data-section">
                <h6> Dirección:</h6>
                <p>{{ volunteerData.personalInformation.address || 'No especificado' }}</p>
              </div>

              <!-- Fecha de Nacimiento -->
              <div class="data-section">
                <h6> Fecha de nacimiento:</h6>
                <p>{{ volunteerData.personalInformation.birthDate || 'No especificado' }}</p>
              </div>

              <!-- Días Disponibles -->
              <div class="data-section">
                <h6> Días disponibles:</h6>
                <p>{{ volunteerData.volunteeringInformation.availabilityDaysList?.join(', ') || 'No especificado' }}</p>
              </div>

              <!-- Habilidades -->
              <div class="data-section">
                <h6>Habilidades:</h6>
                <p>{{ volunteerData.volunteeringInformation.skillsList?.join(', ') || 'No especificado' }}</p>
              </div>

              <!-- Intereses -->
              <div class="data-section">
                <h6> Intereses:</h6>
                <p>{{ volunteerData.volunteeringInformation.interestsList?.join(', ') || 'No especificado' }}</p>
              </div>
            </div>
          </div>


          <div *ngIf="currentContent === 'content3'" class="content">
            <!-- Datos Personales -->
            <div class="tab ml-3">

              <!-- Nombre -->
              <div class="data-section">
                <h6> Nombre completo del contacto:</h6>
                <p>{{ volunteerData.emergencyInformation.emergencyContactFirstName || 'No especificado' }}</p>
              </div>

              <!-- Cel -->
              <div class="data-section">
                <h6> Número de teléfono del contacto:</h6>
                <p>{{ volunteerData.emergencyInformation.emergencyContactPhone || 'No especificado' }}</p>
              </div>

              <!-- Email -->
              <div class="data-section">
                <h6> Correo electrónico del contacto:</h6>
                <p>{{ volunteerData.emergencyInformation.emergencyContactEmail || 'No especificado' }}</p>
              </div>

              <!-- Relación-->
              <div class="data-section">
                <h6> Relación con el contacto:</h6>
                <p>{{ volunteerData.emergencyInformation.emergencyContactRelationship || 'No especificado' }}</p>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>
  </div>