<footer>
    <div class="container">
        <nav class="row py-5">
            <!--Logo-->
            <div class="col-12 col-md-3 text-center text-md-left px-5 mb-4 mb-md-0">
                <a href="#">
                    <img src="assets/img/logoColor.png" alt="Logo talent" class="img-logo mr-2">
                </a>
            </div>
            <!--menu1-->
            <div class="col-12 col-md-3 text-center text-md-left mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li><a href="#faq" class="text">Home</a></li>
                </ul>
            </div>
            <!--menu2-->
            <div class="col-12 col-md-3 text-center text-md-left px-5 mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li><a class="text">Nosotros</a></li>
                    <li><a class="text2">¿Por qué escogernos?</a></li>
                    <li><a class="text2">¿Cómo funciona?</a></li>
                    <li><a class="text2">Valores</a></li>
                    <li><a class="text2">Testimonios</a></li>
                </ul>
            </div>
            <!--menu3-->
            <div class="col-12 col-md-3 text-center text-md-left mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li><a href="#faq" class="text">Misiones</a></li>
                    <li class="text2">Recientes</li>
                    <li class="text2">Urgentes</li>
                </ul>
            </div>
        </nav>
    </div>
</footer>
<footer class="ft2 d-flex flex-column flex-md-row justify-content-between align-items-center px-5 py-2">
    <p class="mb-0">Copyright © 2024. All rights reserved.</p>
</footer>
