<footer id="footer1">
    <div class="container">
        <nav class="row py-5">
            <!--Logo-->
            <div class="col-12 col-md-3 text-center text-md-left px-5 mb-4 mb-md-0">
                <a >
                    <img src="assets/img/LOGO_VOLUNTEERE.png" alt="Logo talent" class="img-logo mr-2">
                </a>
            </div>
            <!--menu1-->
            <div class="col-12 col-md-3 text-center text-md-left mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li><a [routerLink]="['/landing']" fragment="inicio-section" class="text">Home</a></li>
                </ul>
            </div>
            <!--menu2-->
            <div class="col-12 col-md-3 text-center text-md-left px-5 mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li><a class="text" [routerLink]="['/landing']" fragment="about-section">Nosotros</a></li>
                    <li><a class="text2" [routerLink]="['/landing']" fragment="choose-us">¿Por qué escogernos?</a></li>
                    <li><a class="text2" [routerLink]="['/landing']" fragment="testimonials">Testimonios</a></li>
                </ul>
            </div>
            <!--menu3-->
            <div class="col-12 col-md-3 text-center text-md-left mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li><a  class="text" [routerLink]="['/landing']" fragment="misiones-section">Misiones</a></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>
<footer class="ft2 d-flex flex-column flex-md-row justify-content-between align-items-center px-5 py-2">
    <p class="mb-0">Copyright © 2024. All rights reserved.</p>
</footer>
