<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/LogoBlancoN.png" alt="LogoBlanco" width="60" height="50" id="navbar-logo" class="logo-img">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto ">
                <a class="nav-link px-4" href="#">Home</a>
                <a class="nav-link px-4" href="#">Misiones</a>
                <a class="nav-link px-4" href="#">Nosotros</a>
            </div>
        </div>
        <button type="button" [routerLink]="'login'" class="btn custom-btn px-5 py-2">Ingresa</button>
    </div>
</nav>
