<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="bi bi-list" style="font-size: 2rem; color: #292C32;"></i>
            </button>
        </div>
        <ul class="sidebar-nav">
            <!-- Para SUPER_ADMIN -->
            <li class="sidebar-item" *ngIf="role === 'SUPER_ADMIN'">
                <a [routerLink]="'/dashAdmin'" class="sidebar-link">
                    <i class="bi bi-columns-gap" style="font-size: 1.5rem; color: #292C32;"></i>
                    <span>Tablero de Control</span>
                </a>
            </li>
            <li class="sidebar-item" *ngIf="role === 'SUPER_ADMIN'">
                <a [routerLink]="'/gestion-users'" class="sidebar-link">
                    <i class="bi bi-clipboard2-heart" style="font-size: 1.5rem; color: #292C32;"></i>
                    <span>Gestión Usuarios</span>
                </a>
            </li>

            <!-- Para VOLUNTARIO -->
            <li class="sidebar-item" *ngIf="role === 'VOLUNTARIO'">
                <a [routerLink]="'/gestion-users'" class="sidebar-link" title="Inicio">
                    <img src="assets/img/iInicio.png" alt="iInicio Icon" class="sidebar-icon">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="sidebar-item" *ngIf="role === 'VOLUNTARIO'">
                <a [routerLink]="'/dashVolunteer'" class="sidebar-link" title="Tablero de Control">
                    <i class="bi bi-columns-gap sidebar-icon"></i>
                    <span>Tablero de Control</span>
                </a>
            </li>


            <!-- Para ORGANIZACION -->
            <li class="sidebar-item" *ngIf="role === 'ORGANIZACION'">
                <a [routerLink]="'/gestion-users'" class="sidebar-link" title="Inicio">
                    <img src="assets/img/iInicio.png" alt="iInicio Icon" class="sidebar-icon">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="sidebar-item" *ngIf="role === 'ORGANIZACION'">
                <a [routerLink]="'/dashOrganization'" class="sidebar-link">
                    <i class="bi bi-columns-gap" style="font-size: 1.5rem; color: #292C32;"></i>
                    <span>Tablero de Control</span>
                </a>
            </li>
            <li class="sidebar-item" *ngIf="role === 'ORGANIZACION'">
                <a [routerLink]="'/gestion-users'" class="sidebar-link" title="Coordinadores">
                    <img src="assets/img/iCoordinadores.svg" alt="iCoordinadores Icon" class="sidebar-icon">
                    <span>Coordinadores</span>
                </a>
            </li>
            <li class="sidebar-item" *ngIf="role === 'ORGANIZACION'">
                <a [routerLink]="'/gestion-users'" class="sidebar-link" title="Voluntarios">
                    <img src="assets/img/iVoluntarios.png" alt="iVoluntarios Icon" class="sidebar-icon">
                    <span>Voluntarios</span>
                </a>
            </li>
            <li class="sidebar-item" *ngIf="role === 'ORGANIZACION'">
                <a [routerLink]="'/misiones'" class="sidebar-link" title="Misiones">
                    <img src="assets/img/iMisiones.png" alt="iMisiones Icon" class="sidebar-icon">
                    <span>Misiones</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <a [routerLink]="role === 'SUPER_ADMIN' ? '/editar-perfil' : role === 'VOLUNTARIO' ? '/perfil' : '/perfilO'"
                class="sidebar-link" title="Perfil">
                <i class="bi bi-person" style="font-size: 1.5rem; color: #292C32;"></i>
                <span>Perfil</span>
            </a>
            <a href="#" (click)="logout()" class="sidebar-link" title="Cerrar sesión">
                <i class="bi bi-box-arrow-left" style="font-size: 1.5rem; color: #292C32;"></i>
                <span>Cerrar sesión</span>
            </a>
        </div>
    </aside>
    <div class="main">
        <div class="navbar" id="nav">
            <img src="assets/img/logoColor.png" alt="Logo" class="logo-img">
        </div>
        <div class="contenido mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>