/* Aplica la fuente Quicksand a todos los textos */
body, p, h1, h2, h3, h4, h5, h6, span, div, button, input, textarea {
    font-family: "Quicksand", sans-serif;
}


.table-container {
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  }
  