.tittle{
  background-color: white; /* Fondo blanco */
border-radius: 10px; /* Bordes redondeados */
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
margin-bottom:20px;
}
#Grande2{
  background-color: white; /* Fondo blanco */
border-radius: 10px; /* Bordes redondeados */
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
margin-bottom:20px;
height: 888px!important;
}
.tittle1{
  background-color: white; /* Fondo blanco */
border-radius: 10px; /* Bordes redondeados */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
margin-bottom:20px;
}


img{
  height: 200px;
  width: auto;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}
p {
  font-weight: 400;
  font-size: 14px;
}
#texto{
  padding: 20px 20px 0px 20px;
  margin-left: 20px;
}

#Users .card-container {
  background: #06C9D7;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
#Volunteer .card-container {
  background-image: url("/assets/img/4.svg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  
}
#Organization .card-container {
  background: #FB9778;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.card-container {
  flex: 1;
  background-color: white; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}
.card-container p {
  font-weight: 400;  
  font-size: 18px;  
  color: #F9F7F6;
}
#Volunteer .card-container p {
  font-weight: 600;  
  font-size: 18px;  
  color: black;
}
#Volunteer .card-container h3{
  color: black;
}
#Volunteer .card-container i{
  color: black;
}
h3 {
  font-weight: 600;
  font-size: 25px;
  color: #F9F7F6;
}

.contChart{
  background-color: white; /* Fondo blanco */
border-radius: 10px; /* Bordes redondeados */
padding: 20px; /* Espaciado interno */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
margin-bottom:20px;
}

#buttonStyle{
  border-radius: 10px;
  color: black;
}
#recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
#recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#recentCustomers table tr td {
  padding: 12px 10px;
}
#recentCustomers table tr td h4, #recentCustomers table tr td {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
#recentCustomers table tr th {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2rem;
}
#datatableexample table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
#datatableexample table tr:hover {
  background: var(--blue);
  color: var(--white);
}
#datatableexample table tr:hover td h4 span {
  color: var(--white);
}

/**/

#card .col {
  padding: 10px;
  position: relative;
  cursor: pointer;
}

#card .col.bg-primary {
  color: #fff;
  background-color: #06C9D7!important;
  border-radius: 50%; 
}

#card .col span.text-muted {
  color: #ccc;
}

#card .list-group-item {
  cursor: default;
}

#card .activity-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: red; /* Cambia el color según tus necesidades */
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.card-header {
  background:none;
}
.card-header button{
  background: #06C9D7 important;
}

.custom-btn {
  background-color: #06C9D7; /* Fondo azul */
  color: white; /* Ícono blanco */
  border: none; /* Quitar el borde */
}

.custom-btn:hover {
  background-color: #0056b3; /* Fondo azul más oscuro en hover */
}
.mes{
  font-size: 16px;
  font-weight: bold;
}
#dia{
  font-size: 16px;
  font-weight: 600;
}
#texti{
  font-size: 16px;
  font-weight: 400;
}
.list-group-item {
  border: none; /* Asegura que no haya bordes en los items de la lista */
}

#Grande1, #Grande2 {
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que el div se expanda completamente */
}

.row.d-flex {
  height: 100%;
}

#Grande1, #Grande2 {
  flex-grow: 1; /* Asegura que ambos divs crezcan a la misma altura */
}

.container {
  height: 100%; /* Asegura que el contenedor principal use toda la altura disponible */
}


@media (max-width: 991px) {
  #Grande2{
      height: auto!important;
  }
}
@media (max-width: 608px) {
  #imagen-col {
      display: none;
  }
  
}
