.card-description{
    font-size: 14px;
}

.titulo{
    font-size: 20px;
    font-weight: bold;
}

.custom{
    font-size:14px;
}

h2  {
    font-weight: 600;
    font-size: 20px;
  }
  .column1,
.column2 {
  background-color: white; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  margin-bottom: 20px;
}

.custom-card {
    border-radius: 20px; 
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

/* Estilos personalizados */
.container {
    max-width: 900px;
  }
  
  .input-group .form-control {
    border-radius: 8px 0 0 8px;
  }
  
  .input-group .btn {
    border-radius: 0 8px 8px 0;
    border-color: #ced4da;
  }
  
  .input-group .form-select {
    border-radius: 8px;
  }
  
  .shadow-sm {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .rounded {
    border-radius: 12px;
  }
  
  .custombtn{
    background: #1E1450;
    color: #fff;
  }