.column1,
.column2 {
  background-color: white; /* Fondo blanco */
  border-radius: 20px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  margin-bottom: 20px;
}
.column1 h2 {
  font-weight: 600;
  font-size: 20px;
}
/* Estilos generales */
.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
}

.custom-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.custom-img {
  height: 250px;
  object-fit: cover;
}

.profile-img {
  width: 50px;
  height: 50px;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #1e1450;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.btn-outline-primary1 {
  border-color: #1e1450;
  color: #1e1450;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-primary1:hover {
  background-color: #1e1450;
  color: white;
}

.content {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.content-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #1e1450;
}

ul,
ol {
  padding-left: 20px;
  line-height: 1.6;
}

hr {
  margin: 20px 0;
  border-color: #dee2e6;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .profile-img {
    display: none; /* Oculta la imagen de perfil en pantallas pequeñas */
  }

  .card-title {
    font-size: 1.5rem; /* Reduce el tamaño del título en pantallas pequeñas */
  }

  .custom-img {
    height: 200px; /* Ajusta la altura de la imagen de fondo para pantallas más pequeñas */
  }
}
.btn {
  background: #fb9778;
  color: white !important;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
