h2 {
  font-weight: 600;
  font-size: 20px;
}
.btn-secondary {
  background-color: #03A3AE;
  border-color: #03A3AE;
  padding: 8px 15px;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 12px;
  font-weight: 500;
}

.btn-secondary:focus {
  outline: none;
}

.btn-a {
  background-color: #fb9778;
  border-color: #fb9778;
  padding: 8px 15px;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 12px;
  font-weight: 500;
}

.btn-a:focus {
  outline: none;
}

h3 {
  color: #186dde;
  font-weight: 600;
  font-size: 2rem;
}
