
*{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: regular;
    font-size: 40px;
  }
  
  h3 span {
    font-weight: bold;
    color: #ED4B4B;
  }
  h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    padding-top:150px;
  }
  h5 {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
  h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 15px;
  }
  
  p {
    font-family: "Quicksand", sans-serif;
    font-weight: regular;
    font-size: 20px;
    padding-top: 2%;
  }
  #Forms {
    
    padding: 50px 20px; /* Padding general */
}

@media (max-width: 1200px) {
    #Forms {
        padding: 40px 15px; /* Reduce el padding en pantallas medianas */
    }
}

@media (max-width: 768px) {
    #Forms {
        padding: 30px 10px; /* Reduce aún más el padding en pantallas pequeñas */
    }
    #text2{
      display:none;
    }
}

@media (max-width: 480px) {
    #Forms {
        padding: 20px 5px; /* Padding mínimo en pantallas muy pequeñas */
    }
}

  #text2 {
    background-image: url("/assets/img/authFondo.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: right top; 
    height: 100vh;
  }
 
  button {
    margin-left: 2%;
    margin-top: 4%;
    display: block; 
    width: fit-content; 
  }


  @media (max-width: 680px) {
    #about-us img {
      width: 400px;
      height: 450px;
    }
  }
  @media (max-width: 787px) {
    #about-us h4 {
      padding-top: 10px;
    }
  }


.btn-secondary {
  background: #06c9d7;
  color: white !important;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding:10px;
  border-radius:8px;
}



