body {
    margin: 0;
    overflow-x: hidden;
}

/* Header Section */
header {
    background-size: cover;
    padding-right: 200px;
    padding-left: 200px;
    background-image: url("/assets/img/Fondo.svg");
    height: 100vh;
}

h2, p {
    font-family: "Quicksand", sans-serif;
    color: white;
}

.uno {
    padding-right: 200px;
}

h4 {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

h5 {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
}

h3 span {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

@media (max-width: 641px) {
    header {
        padding-right: 40px;
        padding-left: 40px;
    }

    .uno {
        padding-right: 100px;
    }
}
