<div class="row py-5 px-5" id="benefits">
    <div class="container">
        <div class="row text-center">
            <h4 class="px-4">Beneficios</h4>
            <h3 class="mb-3 px-4">¿Por qué unirte a nuestra plataforma?</h3>
            <p class="pr-5 px-4">
                Descubre cómo nuestra plataforma transforma la gestión del
                voluntariado, facilitando la conexión entre voluntarios y
                organizaciones, optimizando la administración de actividades, y
                proporcionando herramientas para el reconocimiento y certificación
                del esfuerzo voluntario, todo en un entorno intuitivo y accesible
            </p>
        </div>
        <div class="row py-5">
            <h5 class="mb-3 px-4" id="t2">Voluntario</h5>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(30, 20, 80, 0.5);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#1E1450" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                        </svg>
                                    </div>
                                    <h5>Encuentra <br>oportunidades</h5>
                                    <h6>Descubre actividades de voluntariado en tu área</h6>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(239, 201, 64, 0.29);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#EFC940" class="bi bi-smartwatch" viewBox="0 0 16 16">
                                            <path
                                                d="M9 5a.5.5 0 0 0-1 0v3H6a.5.5 0 0 0 0 1h2.5a.5.5 0 0 0 .5-.5z" />
                                            <path
                                                d="M4 1.667v.383A2.5 2.5 0 0 0 2 4.5v7a2.5 2.5 0 0 0 2 2.45v.383C4 15.253 4.746 16 5.667 16h4.666c.92 0 1.667-.746 1.667-1.667v-.383a2.5 2.5 0 0 0 2-2.45V8h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5H14v-.5a2.5 2.5 0 0 0-2-2.45v-.383C12 .747 11.254 0 10.333 0H5.667C4.747 0 4 .746 4 1.667M4.5 3h7A1.5 1.5 0 0 1 13 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5v-7A1.5 1.5 0 0 1 4.5 3" />
                                        </svg>
                                    </div>
                                    <h5>Gestión de Horas y <br>Actividades</h5>
                                    <h6>
                                        Administra tus horas y tareas de voluntariado fácilmente
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(237, 75, 75, 0.24);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#ED4B4B" class="bi bi-patch-check" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                            <path
                                                d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z" />
                                        </svg>
                                    </div>
                                    <h5>Certificaciones <br>Oficiales</h5>
                                    <h6>Obtén reconocimientos formales por tu esfuerzo</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(30, 20, 80, 0.5);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#1E1450" class="bi bi-person-add" viewBox="0 0 16 16">
                                            <path
                                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                            <path
                                                d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                        </svg>
                                    </div>
                                    <h5>Conexión con<br> Fundaciones</h5>
                                    <h6>Conéctate con organizaciones de impacto social</h6>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(239, 201, 64, 0.29);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#EFC940" class="bi bi-bar-chart" viewBox="0 0 16 16">
                                            <path
                                                d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z" />
                                        </svg>
                                    </div>
                                    <h5>Informes <br>Detallados</h5>
                                    <h6>Accede a informes de tus actividades y logros</h6>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(237, 75, 75, 0.24);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#ED4B4B" class="bi bi-trophy" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935M3.504 1q.01.775.056 1.469c.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.5.5 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667q.045-.694.056-1.469z" />
                                        </svg>
                                    </div>
                                    <h5>Puntos y <br>Recompensas</h5>
                                    <h6>Acumula puntos y canjea por <br />recompensas</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <h5 class="mb-3 px-4" id="t2">Organización</h5>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(30, 20, 80, 0.5);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#1E1450" class="bi bi-person-gear" viewBox="0 0 16 16">
                                            <path
                                                d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
                                        </svg>
                                    </div>
                                    <h5>Gestión de misiones <br>y actividades</h5>
                                    <h6>
                                        Publica y administra oportunidades <br>de voluntariado
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(239, 201, 64, 0.29);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#EFC940" class="bi bi-people" viewBox="0 0 16 16">
                                            <path
                                                d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                                        </svg>
                                    </div>
                                    <h5>Gestión de<br> Grupos</h5>
                                    <h6>Organiza y administra grupos <br>de voluntarios.</h6>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(237, 75, 75, 0.24);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#ED4B4B" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                        </svg>
                                    </div>
                                    <h5>Asignación de <br>Voluntarios</h5>
                                    <h6>Encuentra y asigna a los voluntarios <br>adecuados</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(30, 20, 80, 0.5);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#1E1450" class="bi bi-bar-chart" viewBox="0 0 16 16">
                                            <path
                                                d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z" />
                                        </svg>
                                    </div>
                                    <h5>Generación de <br>Informes</h5>
                                    <h6>Crea informes detallados sobre la <br>participación</h6>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(239, 201, 64, 0.29);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#EFC940" class="bi bi-clipboard2-heart" viewBox="0 0 16 16">
                                            <path
                                                d="M10.058.501a.5.5 0 0 0-.5-.501h-2.98c-.276 0-.5.225-.5.501A.5.5 0 0 1 5.582 1a.497.497 0 0 0-.497.497V2a.5.5 0 0 0 .5.5h4.968a.5.5 0 0 0 .5-.5v-.503A.497.497 0 0 0 10.555 1a.5.5 0 0 1-.497-.499" />
                                            <path
                                                d="M3.605 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5h-.5a.5.5 0 0 1 0-1h.5a1.5 1.5 0 0 1 1.5 1.5v12a1.5 1.5 0 0 1-1.5 1.5h-9a1.5 1.5 0 0 1-1.5-1.5v-12a1.5 1.5 0 0 1 1.5-1.5h.5a.5.5 0 0 1 0 1z" />
                                            <path
                                                d="M8.068 6.482c1.656-1.673 5.795 1.254 0 5.018-5.795-3.764-1.656-6.69 0-5.018" />
                                        </svg>
                                    </div>
                                    <h5>Certificación de<br> Horas</h5>
                                    <h6>Valida y certifica las horas <br>de voluntariado</h6>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="item-content">
                                    <div style="
                  background-color: rgba(237, 75, 75, 0.24);
                  width: 50px;
                  height: 50px;
                  border-radius: 20%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#ED4B4B" class="bi bi-columns-gap" viewBox="0 0 16 16">
                                            <path
                                                d="M6 1v3H1V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm14 12v3h-5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM6 8v7H1V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm14-6v7h-5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z" />
                                        </svg>
                                    </div>
                                    <h5>Dashboard <br>de Monitoreo</h5>
                                    <h6>
                                        Monitorea el progreso de tus misiones <br>en tiempo real
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
