.logo-img {
    width: 55px;
    height: 60px;
    transition: width 0.5s, height 0.5s;
}
nav{
    font-weight: semibold;
    font-family: "Quicksand", sans-serif;
}
.navbar {
    transition: all 0.5s;
    display: flex; 
    flex-direction: column; 
}

.navbar-scrolled {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.navbar-scrolled .nav-link {
    color: #2D2D2D !important;
}

.custom-btn {
    font-size: 20px!;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    background-color: #03A3AE;
    color: white;
}





