<div class="row" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center py-5">
                <img src="assets/img/aboutImg.png" alt="about-img" class="py-5" />
            </div>
            <div class="col-12 col-md-6 mt-4" id="text2">
                <h4 class="px-4">Acerca de nosotros</h4>
                <h3 class="mb-3 px-4">
                    Unimos corazones <span> Con causas </span>
                </h3>
                <p class="pr-5 px-4">
                    En VolunteerApp, creemos en el poder del voluntariado para
                    transformar vidas y comunidades. Nuestra plataforma nace de la
                    necesidad de conectar a voluntarios apasionados con organizaciones
                    que trabajan incansablemente por causas sociales importantes.
                    Queremos facilitar este proceso, brindando una herramienta
                    eficiente y accesible para todos.
                </p>
                <button class="btn btn-secondary mb-3">Conoce más</button>
            </div>
        </div>
    </div>
</div>
