<div class="row py-5 px-5" id="benefits">
    <div class="container">
        <div class="row text-center">
            <h4 class="px-4">Beneficios</h4>
            <h3 class="mb-3 px-4">¿Por qué unirte a nuestra plataforma?</h3>
        </div>
        <section class="custom-section">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="custom-card text-center">
                    <p><img src="assets/img/volunteerB.png" alt=""></p>
                    <h2>Voluntarios</h2>
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <p class="text-center mb-3">Descubre cómo nuestra plataforma te permite encontrar oportunidades que se ajusten a tus intereses, gestionar tus horas y actividades de voluntariado, obtener certificaciones oficiales de tu esfuerzo, y conectar fácilmente con organizaciones que necesitan tu ayuda. Todo en un entorno sencillo, accesible y lleno de recompensas por tu dedicación.</p>
                    <ul class="list-unstyled icon-list">
                      <li><i class="bi bi-search-heart"></i>Encuentra oportunidades</li>
                      <li><i class="bi bi-stopwatch"></i>Gestión de <br>Horas</li>
                      <li><i class="bi bi-patch-check"></i>Certificaciones Oficiales</li>
                      <li><i class="bi bi-people"></i>Conexión con Fundaciones</li>
                      <li><i class="bi bi-people"></i>Informes Detallados</li>
                      <li><i class="bi bi-award"></i> Puntos y Recompensas</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          <section class="custom-section">
            <div class="container content-area">
              <div class="row align-items-center">
                <div class="col-md-6 order-md-2">
                  <div class="custom-card text-center">
                    <p><img src="assets/img/nonProfit.png" alt=""></p>
                    <h2>Organizaciones</h2>
                  </div>
                </div>
                <div class="col-md-6 order-md-1">
                  <p class="text-center mb-3">Descubre cómo nuestra plataforma facilita la gestión integral de tus actividades y voluntarios, optimizando la administración de misiones, la certificación de horas y la generación de informes detallados. Conéctate con voluntarios comprometidos y lleva el control de tus iniciativas en un entorno eficiente y accesible.
                </p>
                  <ul class="list-unstyled icon-list">
                    <li><i class="bi bi-kanban"></i> Gestión<br> misiones</li>
                    <li><i class="bi bi-people"></i> Gestión de Grupos</li>
                    <li><i class="bi bi-person-video2"></i> Gestión de tus voluntarios</li>
                    <li><i class="bi bi-check-square"></i> Generación de Informes</li>
                    <li><i class="bi bi-patch-check"></i> Certificación de horas</li>
                    <li><i class="bi bi-kanban"></i>  Tableros de control</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

        
    </div>
</div>

