<body>
    <app-navbar></app-navbar>
    <header>
        <div id="container">
            <div class="row" id="header">
                <div class="col text-center">
                    <h2 class="custom-h2">transforma vidas</h2>
                    <h1>¡Haz la diferencia hoy!</h1>
                    
                    <p>
                        Conéctate con oportunidades únicas, impacta tu comunidad y obtén
                        reconocimiento por tu compromiso. ¡Únete y sé el cambio hoy mismo!
                    </p>
                    <button class="btn-secondary"[routerLink]="'register'">Empieza ahora</button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <app-about></app-about>
        <app-benefits></app-benefits>
        <app-testimonials></app-testimonials>
        <app-misiones-l></app-misiones-l>
    </main>
    <app-footer></app-footer>
</body>