<body>
    <app-navbar></app-navbar>
    <header>
        <div id="container" id="inicio-section">
            <div class="row" id="header">
                <div class="col text-center">
                    <h2 class="custom-h2">transforma vidas</h2>
                    <h1>¡Haz la diferencia hoy!</h1>

                    <p>
                        Conéctate con oportunidades únicas, impacta tu comunidad y obtén
                        reconocimiento por tu compromiso. ¡Únete y sé el cambio hoy mismo!
                    </p>
                    <button class="btn-secondary" [routerLink]="'/login'">Empieza ahora</button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <app-about id="about-section"></app-about>
        <app-benefits id="choose-us"></app-benefits>
        <app-testimonials id="testimonials"></app-testimonials>
        <app-misiones-l id="misiones-section"></app-misiones-l>
    </main>
    <app-footer></app-footer>
</body>