<div class="row py-5 px-5" id="Misiones">
    <div class="container">
        <div class="row text-center">
            <h4 class="px-4">Misiones</h4>
            <h3 class="mb-3 px-4">Estas son las misiones más recientes</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card custom-card">
                    <!-- Asignar imágenes fijas basadas en el índice + 1 -->
                    <img src="assets/img/card2.svg" alt="card-img-top custom-img" class="custom-img">
                    <div class="card-body">
                        <h5 class="card-title">Recolección de Residuos en Playas</h5>
                        <p class="card-text">Esta misión busca que los voluntarios colaboren en la limpieza de playas,
                            recogiendo residuos y concientizando a la comunidad sobre la importancia de
                            mantener los ecosistemas marinos limpios y saludables</p>
                        <p class="card-text">
                            <strong>Fecha:</strong> 25/02/2024<br>
                            <strong>Cupos:</strong> 3/5
                        </p>
                        <!-- Cambiar la clase del botón basándose en el índice -->
                        <a class="btn btn-outline-primary" [routerLink]="'/login'">Ver detalles</a>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card custom-card">
                    <!-- Asignar imágenes fijas basadas en el índice + 1 -->
                    <img src="assets/img/card4.svg" alt="card-img-top custom-img" class="custom-img">
                    <div class="card-body">
                        <h5 class="card-title">Reforestación en Áreas Desforestadas</h5>
                        <p class="card-text">Únete a esta misión de reforestación, donde plantaremos árboles en áreas
                            desforestadas,
                            ayudando a restaurar el equilibrio ecológico y promoviendo un ambiente más saludable para
                            las futuras generaciones.</p>
                        <p class="card-text">
                            <strong>Fecha:</strong> 15/03/2024<br>
                            <strong>Cupos:</strong> 10/15
                        </p>
                        <!-- Cambiar la clase del botón basándose en el índice -->
                        <a class="btn btn-outline-primary" [routerLink]="'/login'">Ver detalles</a>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card custom-card">
                    <!-- Asignar imágenes fijas basadas en el índice + 1 -->
                    <img src="assets/img/card5.svg" alt="card-img-top custom-img" class="custom-img">
                    <div class="card-body">
                        <h5 class="card-title">Taller de Educación Ambiental para Niños</h5>
                        <p class="card-text">Esta misión tiene como objetivo enseñar a los niños sobre la importancia
                            del cuidado del medio ambiente,
                            a través de actividades interactivas y dinámicas que fomenten el respeto por la naturaleza.
                        </p>
                        <p class="card-text">
                            <strong>Fecha:</strong> 10/04/2024<br>
                            <strong>Cupos:</strong> 5/10
                        </p>
                        <!-- Cambiar la clase del botón basándose en el índice -->
                        <a class="btn btn-outline-primary" [routerLink]="'/login'">Ver detalles</a>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>